
@{
    ViewData["Title"] = "Dalyn Baldwin";
}
<div class="text-center">
    <!-- about me -->
    <h1>Hi, I'm Dalyn</h1>
    <br /><br />
    <img src="~/img/dalynbaseball.JPEG" height="200" title="Me Playing Baseball" />
    <br /><br /><br />
</div>
<div>
    <!-- What I want to learn this semester-->
    <h3>What I want to get out of this class</h3>
    <p>
        This semester I hope to learn more about how to use C# and ASP.NET to write scalable, dynamic programs.
        I haven't done a lot with C#, but I have read some of the documentation, done CodeAcademy for it, and even read a For Dummies book.
        So far, I love it, and I'm excited to learn more about its capabilities and to grow towards achieving my career goals.
    </p>
    <br />
    <!-- 3 job interests-->
    <h3>Top 3 job interests</h3>
    <ol>
        <li>Healthcare Administration and/or Tech Development</li>
        <li>Security Consulting/Forensics/White hat hacking</li>
        <li>Teaching</li>
    </ol>
</div>